<div class="image-banner">
  <div class="title">
    <h1>Memories</h1>
    <h2>Sign in below to begin!</h2>
  </div>
</div>
<body class="button-body">
  <div class="buttons">
    <a href="/login" class="btn btn-primary">Log in with Spotify</a>
    <a href="" class="btn btn-primary">Log in with Instagram</a>
    <a href="/" class="btn btn-primary">Log in with Facebook</a>
  </div>
</body>

{{outlet}}