div .image-banner {
  background-image: url("/assets/images/sunset-sky.png");
  text-align: center;
  font-size: 25px;
  height: 300px;
}
div .image-banner .title {
  position: relative;
  left: 0px;
  top: 75px;
}
div .image-banner .title h1 {
  margin-top: 0px;
  color: white;
  opacity: 0.7;
  font-size: 75px;
}
div .image-banner .title h2 {
  margin-top: 0px;
  color: white;
  opacity: 0.7;
}
body {
  background: #023A5B;
}

body .button-body {
  margin-top: 125px;
}

body .buttons {
  margin: auto;
  width: 162px;
} 

body .buttons .btn-primary {
  width: 161px;
  margin-bottom: 30px;
}
  
